<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <hr />
        @{
            string p = "ovo je moj _Layout";
            }
        <p>@p</p>
    </div>
</body>
</html>
