@{
    ViewData["Title"] = "Home Page";
    // Layout="_NemaMe"
    // ViewData["broj"] = 1.2;
    ViewBag.broj = 1.2;
}

<div class="text-center">
    <h1>@ViewBag.Title </h1>
    <h1>@ViewData["broj"]</h1>
    <h2 class="display-4">Welcome</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
